body{
  background-color:#F3F1F1;
}
.main-container{
display: flex;
width:1125px;
height: 500px;
margin:auto;
box-shadow:2px 2px 36px #B6B3B3;
border-radius: 96px;
}

.container-1{
  display:  flex;
  flex:1;
  border-radius:100px 0 0 100px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.container-2{
  color: white;
  display: flex;
  background-color: #FC4A3C;
  flex:1;
  border-radius: 0 100px 100px 0;
  justify-content: center;
  align-items: center;

}
.form1{
  font-family:"Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;;
 justify-content: center;

}
img{
  height: 456px;
  left:70px;
  top:5px;
}
h1,h3,h5{
  font-weight: lighter;
}
.a1{
  width:315px;
  height: 47px;
  border-radius: 20px;
  border-style:none;
  color:#FC4A3C;
  box-shadow: 3px 2px 36px #B5241B;
}

.b1{
  width:315px;
  height: 47px;
  border-radius: 20px;
 border-style: solid;
  background-color: #FC4A3C;
  border-color:#F7F2F2;
  color:white;
}
.a1::placeholder {
  color:#FC4A3C;
font-size: 15px;
}
.b1::placeholder {
  color:white;
}

.signin{
  font-size: 20px;
  width:315px;
  height: 47px;
  border-radius: 20px;
  border-style: none;
  color:white;
  background-color: #E1352A;
}
a{
  text-decoration: none;
  color: white;
  float:right;
  font-size: 13px;
}
h5{
text-align: center;
font-weight: lighter;

}
